/* COMMUN */
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*:after:before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

/* BODY */
html, body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* HEADER */
/* Logo header */
.logo-accueil{
    display: flex;
}

.logo-accueil img{
    height: 50px;
    width: auto;
    border-radius: 60px;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 235);
    position: static;
    max-width: 100%;
}

.header a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

.header .logo-accueil img{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.header .barre-nav .accueil,
.header .barre-nav .projets,
.header .barre-nav .nos-actions{
    padding-right: 100px;
    margin-right: 100px;
    border-right: 2px solid black;
}

.header .options-langues a{
    padding-right: 60px;
}

.header .options-langues{
    padding-right: 15px;
}



/* MAIN */
main{
    min-height: 100%;
    flex: 1;
}


.titre-tla h2{
    display: inline-block;
    padding: 25px 0px 0px 0px;
    margin-left: 25px;
    text-align: center;
    border-bottom: 3px solid #4B5943;
}

/* Articles actualités */
.articles-accueil{
    margin-left: 70px;
    margin-right: 70px;
    max-width: 100%;
}

.articles-accueil h2{
    display:  inline-block;
    border-bottom: 3px solid #4B5943;
}


.articles_actualites{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1900px;
    height: 370px;
    gap: 100px;
    padding: 30px 70px 60px 70px;
}

/* Article 1 */
.article1 {
    border: solid 1px none;
    border-radius: 15px;
    text-align: center;
    background: rgb(232, 232, 232);
}

.article1 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article1 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;

}

/* Article 2 */
.article2 {
    border: solid 1px none;
    border-radius: 15px;
    text-align: center;
    background: rgb(232, 232, 232);
}

.article2 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article2 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;

}

/* Article 3 */
.article3 {
    border: solid 1px none;
    background: rgb(232, 232, 232);
    border-radius: 15px;
    text-align: center;
}

.article3 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article3 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;
}

/* Article 4 */
.article4 {
    border: solid 1px none;
    border-radius: 15px;
    text-align: center;
    background: rgb(232, 232, 232);
}

.article4 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article4 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;

}

/* Article 5 */
.article5 {
    border: solid 1px none;
    border-radius: 15px;
    text-align: center;
    background: rgb(232, 232, 232);
}

.article5 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article5 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;

}

/* Article 6 */
.article6 {
    border: solid 1px none;
    background: rgb(232, 232, 232);
    border-radius: 15px;
    text-align: center;
}

.article6 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article6 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;
}

/* Article 7 */
.article7 {
    border: solid 1px none;
    border-radius: 15px;
    text-align: center;
    background: rgb(232, 232, 232);
}

.article7 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article7 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;

}

/* Article 8 */
.article8 {
    border: solid 1px none;
    border-radius: 15px;
    text-align: center;
    background: rgb(232, 232, 232);
}

.article8 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article8 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;

}

/* Article 9 */
.article9 {
    border: solid 1px none;
    background: rgb(232, 232, 232);
    border-radius: 15px;
    text-align: center;
}

.article9 img{
    padding-top: 30px;
    width: 250px;
    height: 250px;
}

.article9 h3 {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;
}


/* FOOTER */
footer{
    position: relative;
    bottom: 0px; 
    left: 0px;
    right: 0px;
}

.footer{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #4B5943;
    padding-top: 20px;
}

/* Logo site sur footer */
.logo-footer{
    text-align: center;
}

.logo-footer img{
    height: 120px;
    width: auto;
    justify-content: center;
    border-radius: 60px;
}

/* Adresse footer */
.adresse-footer h4{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.adresse-footer p{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
}

/* Navigation footer */
.navigation-footer h4{
    text-align: center;
    padding-bottom: 20px;
}

.navigation-footer nav{
    display: block;
    text-align: center;

}

.navigation-footer a{
    display: block;
    text-decoration: none;
    color: black;
}

/* Réseaux sociaux et contacts footer */
.rs-footer h4,
.rs-footer p{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.rs-footer .logos-rs {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

.rs-footer .logos-rs img{
    width: 40px;
    padding-right: 20px;
}